<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">🎵 Musical Inventory Shop</a>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/categories/create" class="btn-small">+ Category</a></li>
            <li><a href="/items/create" class="btn-small">+ Item</a></li>
        </ul>
    </div>
</nav>